*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sofia Sans', sans-serif;
    color: #000B0A;
}

:root{
    --font-heavy : #000B0A;
    --font-regular: #011C34;
    --font-light : #737373;
    --primary-cl: #2EC4B6;

    --space: 2rem;
}



main{
    background-color: rgb(247, 253, 252);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 85%;
    height: 85%;
    display: flex;
    gap: 10px;
}
.box{
    width: 90%;
    height: 100%;
}
.section-one{
    display: flex;
    padding-top: 7%;
    justify-content: flex-start;
}
.section-one > div > img{
    height: 80px;
    width: 77px;
    margin-bottom: 1rem;
}
.section-one > div > h2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--font-heavy);
    line-height: 50px;
    word-spacing: -0.8px;
    font-size: 40px;
}
.section-one > div > article{
    font-size: 16px;
    line-height: 25px;
    color: var(--font-light);
    width: 400px;
}

form{
    width: 580px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.027),0px 0px 40px 10px rgba(0, 0, 0, 0.055)
}
.inp-group{
    display: flex;
    flex-direction: column;
    width: 238px;
    height: 72px;
}
.inp-group > label{
    font-size: 14px;
    font-weight: 800;
    color: var(--font-regular);
    word-spacing: 0.1px;
    text-transform: capitalize;
}

.ps{
    font-family: FontAwesome;
}
.ps:focus{
    font-family: 'Sofia Sans', sans-serif;
}

.inp-group > input,.inp-group > select{
    width: 100%;
    height: 48px;
    border: 1px solid var(--font-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: .2s ease-in;
    border: 1px solid rgba(128, 128, 128, 0.404);
    outline:none;
    font-size: 14px;
    padding: 8px ;
    font-weight: 500;
    line-height: 20px;
    word-spacing: 0.2px;
    position: relative;
}

.inp-group > input:hover{
    border: 2px solid var(--primary-cl);
}

.inp-group > input:focus{
    border: 2px solid var(--primary-cl);
}

.full{
    width: 100%;
}
#password::placeholder{
    text-align: end;
}

button{
    border: none;
    background-color: var(--primary-cl);
    color: white;
    height: 48px;
    border-radius: 2px;
}
form > article {
    font-size: 14px;
    line-height: 25px;
}

form > article > span > a{
    color: var(--primary-cl);
}


@media (max-width: 700px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    form{
        width: 100%;
    }

    .inp-group{
        width: 100%
    }
    .section-one > div > img{
        width: 40px;
        height: 40px;
    }
    .section-one > div > h2{
        font-size: 30px;
    }
    .section-one > div > article{
        font-weight: lighter;
        width: 100%;
    }
}
